.modal {
    display: flex !important;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;

    .modal-dialog {
        background-color: #fff;
        border-radius: 3px;
        max-width: 650px;
        max-height: 750px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }

    .modal-header {
        border-bottom: 1px solid #c2c2c2;
        padding: 8px 12px;

        .modal-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 16px;
            font-weight: 600;

            .close {
                outline: none !important;
                border:none !important;
                background-color: transparent !important;
                cursor: pointer;
            }
        }

        > button {
            display: none;
        }
    }

    .modal-body {
        padding: 24px 48px;
        display: flex;
        align-items: center;
        flex-direction: column;

        .modal-image {
            width: 95px;
            height: 95px;
        }
        
        .modal-info {
            margin-top:12px;

            span {
                font-weight: 500;
            }

            &__name {
                font-weight: 500;
                text-align: center;
                font-style: italic;
            }

            &__tv-shows {
                margin: 16px 0 8px;
            }

        }
    }

    .modal-footer {
        border-top: 1px solid #c2c2c2;
        display: flex;
        align-items: center;
        justify-content: end;
        padding: 8px 12px;

        button {
            padding: 4px 8px;
            border: none;
            outline: none;
            background-color: #2a9d8f;
            color: #fff !important;
            cursor: pointer;
        }
    }
}